.title-h1,
h1 {
  font-size: 36px;
  margin: 48px 0;
  position: relative;
  text-align: center;
  font-family: 'PT Serif', serif;
}

.title-h2 {
  font-size: 24px;
  margin: 48px 0;
  position: relative;
  text-align: center;
}

