.title-h1,
h1 {
  font-size: 36px;
  margin: 48px 0;
  position: relative;
  text-align: center;
  font-family: 'PT Serif', serif;
  &::after {
    background-color: $gold;
    bottom: -15px;
    content: '';
    height: 3px;
    position: absolute;
    right: 52%;
    width: 90px;
  }
}

.title-h2 {
  font-size: 24px;
  margin: 48px 0;
  position: relative;
  text-align: center;

  &::after {
    background-color: $gold;
    bottom: -15px;
    content: '';
    height: 3px;
    position: absolute;
    right: 52%;
    width: 70px;
  }
}

