.blog-post {
  &-tags {
    margin: 10px auto;
    li {
      display: inline-block;
      margin: 0 5px;
      background-color: $very-light-grey;
      padding: 5px 10px;
      height: 30px;
      border-radius: 35px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &-body {
    p {
      margin: 12px auto;
    }
  }

  //Card
  &-item {
    cursor: pointer;
    display: flex;
    transition: all 125ms linear;
    &-date {
      color: $gold;
    }

    &-link {
      color: $gold;
    }

    h1 {
      font-size: 24px;
      margin: 0 auto 12px auto;
      text-align: left;
      &::after {
        display: none;
      }
    }
    p {
      display: none;

      &:first-of-type {
        display: block;
      }
    }

    img {
      border-radius: 10px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}