.button {
  background: $dark-grey;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
  cursor: pointer;
  height: 50px;
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
  transition: .2s;
  width: 200px;
  border: none;
  &--large {
    width: 250px;
  }
  &--disabled {
    opacity: 0.2;
    cursor: none;
    pointer-events: none;
  }
}
.button-icon-container {
  background: $gold;
  height: 102px;
  left: -250px;
  margin-top: -89px;
  padding-top: 2px;
  position: relative;
  transition: .3s;
  width: 200px;
}
.button-text {
  color: white;
  margin-top: 13px;
  transition: .3s;
  transform: translateY(-3px);
}
.button-icon {
  color: #FFF;
  margin-top: 63px;
  position: absolute;
  left: 155px;
}

.button {
  &:hover {
    .button-icon-container {
      left: -130px;
    }
    .button-text {
      margin-left: 65px;
    }
  }
  &:active {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .3);
  }
}

.button-simple {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  color: $white;
  background: $dark-grey;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
  height: 50px;
  padding: 10px 20px;
  text-align: center;
  transition: .2s;
  display: inline-block;
  line-height: 1.7;
  &:hover {
    color: $gold;
  }
}