.cart
  &-image
    background-size: cover
    background-position: center center
  &-title
    margin: 24px 0
  &-items
    margin-top: 36px
  &-item
    margin: 0 auto 20px auto
    .cart-item-qty
      font-weight: bold
      font-size: 14px
    .cart-item-delete
      cursor: pointer
      font-size: 14px
      text-transform: uppercase
  &-footer
    .row
      padding: 10px 5px
      border-top: 1px solid $medium-grey