.categories-dropdown {
  .dropdown-menu {
    padding: 0;
    a {
      display: block;
      color: $dark-grey;
      padding: 5px;
      text-transform: capitalize;
      transition: background-color 250ms linear;
      &:hover {
        background-color: $light-grey;
        text-decoration: none;
      }
      &.active {
        background-color: $very-light-grey;
      }
    }
  }
}
