.cookieModalWrapper {
  background-color: $medium-grey;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  z-index: 999;
  @media (min-width: 576px) {
    border-top-right-radius: 10px;
    width: 80%;
    max-width: 500px;
  }

  .cookieModal {
    &-content {
      color: $white;
      line-height: 1.1;
      a {
        color: $gold;
        text-decoration: underline;
      }
    }
    &-buttons {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      @media (min-width: 576px) {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
