.filters
  border-right: 1px solid $gold
  &-type
    h3
      color: $dark-grey
      text-transform: uppercase
      margin-bottom: 5px
    ul
      padding: 0 0 0 15px
      li
        text-transform: capitalize
        position: relative
        &::before
          content: "-"
          color: $gold
          position: absolute
          left: -7px
          top: 4px