#newsletter {
  .newsletter {
    &-title {
      color: $light-grey;
      margin: 10px 0;
    }

    &-wrapper {
      border-bottom: 1px solid $gold;
      position: relative;
      width: 300px;

      input[type="text"] {
        -webkit-appearance: none;
        background-color: $white;
        border: 0;
        color: $dark-grey;
        height: 50px;
        padding: 5px 50px 5px 5px;
        width: 100%;
      }

      button[type="submit"] {
        -webkit-appearance: none;
        background-color: $white;
        border: 0;
        color: $gold;
        cursor: pointer;
        display: block;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        transition: color .25s linear;
        height: 50px;
        width: 50px;

        i {
          transition: transform 125ms linear;
        }
        &:hover {
          i {
            transform: translateX(5px);
          }
        }

        &.isDisabled {
          color: $light-grey;
          pointer-events: none;
          cursor: not-allowed;
        }
      }
    }
  }
}
