.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  .button {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
  }
  &-wrapper {
    height: 100%;
  }
  &-image {
    border-radius: 10px;
    max-height: 600px;
    max-width: 400px;
    overflow: hidden;
    img {
      transition: transform 250ms linear;
    }
  }
  &-name {
    text-transform: uppercase;
    margin: 10px 0;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-price {
    font-weight: 600;
    &--sale {
      s {
        color: red;
        font-size: 12px;
      }
    }
    &--sold {
      color: red;
    }
  }
  &-sale {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: red;
    border-radius: 5px;
    color: $white;
    padding: 5px 10px;
    text-transform: uppercase;
    z-index: 9;
    font-size: 12px;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.1);
    }
  }
}
