.top-bar
  font-family: 'Source Sans Pro', sans-serif
  background-color: $dark-grey
  padding: 8px

.top-bar-list
  text-align: right

.top-bar-list li
  display: inline-block
  padding: 0 5px
  color: $white
  text-transform: uppercase
  font-size: 11px

.top-bar-list i
  margin-right: 5px

