.blog {
  &-header {
    border-radius: 10px;
    display: flex;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    width: 95%;

    @media(min-width: 576px) {
      padding: 90px 0;
    }

    @media(min-width: 768px) {
      padding: 120px 0;
    }

    @media(min-width: 992px) {
      padding: 150px 0;
    }

    @media(min-width: 1200px) {
      padding: 200px 0;
    }

    img {
      position: absolute;
      width: 100%;
    }
    h1 {
      color: $white;
      margin: 0;
    }
  }

  &-empty {
    h2 {
      margin: 0 auto 36px auto;
    }
  }
}