.blog {
  &-header {
    border-radius: 10px;
    display: flex;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 95%;

    img {
      position: absolute;
      width: 100%;
    }
    h1 {
      margin: 0;
    }
  }
}