.cookiePolicy {
  strong {
    font-weight: bold;
    margin-top: 15px;
    display: block;
  }
  ul {
    li {
      margin: 5px 0;
    }
  }
  a {
    color: $gold;
    font-weight: bold;
  }
  p {
    &:first-of-type {
      font-weight: bold;
      display: block;
      margin-bottom: 15px;
    }
  }
}
