.product {
  padding-top: 25px;
  @media (min-width: 576px) {
    padding-top: 50px;
  }
  &-slider{
    img {
      border-radius: 10px;
    }
  }
  &-title {
    margin: 18px auto;
    line-height: 1.1;
    text-align: left;
    @media (min-width: 576px) {
      font-size: 32px;
      margin: 0 0 28px 0;
    }
  }
  &-desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 28px;
    position: relative;

    strong {
      font-weight: 600;
    }
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 5px;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gold;
    }
    @media (min-width: 576px) {
      font-size: 18px;
      margin-bottom: 28px;
    }
  }
  &-price {
    font-weight: 600;
    font-size: 24px;
    &--sale {
      font-size: 22px;
      @media (min-width: 576px) {
        font-size: 24px;
      }
      s {
        color: red;
        font-size: 16px;
        font-weight: 400;
        @media (min-width: 576px) {
          font-size: 18px;
        }
      }
    }
    &--sold {
      color: red;
    }
  }
}
