.videos {
  .video {
    margin-top: 18px;

    h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    time {
      color: $gold;
      font-size: 16px;
      margin-bottom: 16px;
      display: block;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }

    &-embed {
      position: absolute;
      inset: 0;

      :deep(iframe) {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 8px;
      }
    }
  }
}
